{% comment %}
  Renders a product media gallery with a featured image and vertical thumbnails
  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
{% endcomment %}

{{ 'component-product-gallery.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product-gallery.js' | asset_url }}" defer="defer"></script>

<div class="product-gallery" data-product-gallery>
  <div class="product-gallery__thumbnails">
    {%- if product.selected_or_first_available_variant.featured_media != null -%}
      {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
      <button class="product-gallery__thumbnail" data-thumbnail>
        {{ featured_media | image_url: width: 200 | image_tag:
          loading: 'lazy',
          width: 100,
          height: 100,
          alt: featured_media.alt | escape
        }}
      </button>
    {%- endif -%}

    {%- for media in product.media -%}
      {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
        <button class="product-gallery__thumbnail" data-thumbnail>
          {{ media | image_url: width: 200 | image_tag:
            loading: 'lazy',
            width: 100,
            height: 100,
            alt: media.alt | escape
          }}
        </button>
      {%- endunless -%}
    {%- endfor -%}
  </div>

  <div class="product-gallery__main">
    {%- if product.selected_or_first_available_variant.featured_media != null -%}
      {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
      <img
        class="product-gallery__main-image"
        src="{{ featured_media | image_url: width: 2000 }}"
        alt="{{ featured_media.alt | escape }}"
        loading="lazy"
        width="{{ featured_media.width }}"
        height="{{ featured_media.height }}"
      >
    {%- endif -%}
  </div>
</div>
